
.card{
    min-height: 550px;
    margin-right: 20px;
    margin-bottom: 40px;

    .card-img-top{
        max-height: 200px;
    }

    .footer{
        position: absolute;
        bottom: 20px;
        margin-top:20px;

        .btn{
            margin-right: 10px;
        }
    }
}
.addToCart{
    // pointer-events: none;
}

.removeFromCart{
    background-color: rgb(255,62,108);
    border:1px solid rgb(255,62,108);
    color: black;
}

.buyNow{
    background-color: white;
    border:1px solid black;
    color: black;
}